AWS_REGION=ap-south-1
NEXT_IGNORE_INCORRECT_LOCKFILE=true

COGNITO_USER_POOL_ID=
COGNITO_USER_POOL_CLIENT_ID=

DDB_USERS_TABLE=
DDB_BOARDS_TABLE=
DDB_MEMBERSHIPS_TABLE=
DDB_ENTRIES_TABLE=
DDB_ANNOUNCEMENTS_TABLE=
