AWS_REGION=ap-south-1
APP_BASE_URL=https://main.dxxxxxxxx.amplifyapp.com

COGNITO_USER_POOL_ID=
COGNITO_USER_POOL_CLIENT_ID=

DDB_USERS_TABLE=
DDB_BOARDS_TABLE=
DDB_MEMBERSHIPS_TABLE=
DDB_ENTRIES_TABLE=
DDB_ANNOUNCEMENTS_TABLE=
